    <div class="parallax-container">
        <div class="About-Header shadow">
            <h2 style="color:white">About Us</h2>
            <h3 style="color:white">Thank you for showing an interest in who we are!</h3>
        </div>
        <div class="parallax"><img src="~/Content/Images/People.png"></div>
    </div>


    <div class="section white about-section">
        <div class="col s12 subtitle">
            <h4 style="text-align:center">So, who are we?</h4>
            <hr style="width:25%" />
        </div>

        <div class="row container">
            <p>Plinx web and app design was set up in early 2017 by two guys from Leamington Spa, Paul Marrable and Nick Osborne with the main goal of turning our passion in to something a little more.</p>
            <p>We here at Plinx really do have a passion for design and with more than 30 years experience between us we believe we really have the tools to deliever. </p>
            <p>Whether you are looking for an affordable single page template, a full bespoke website, a phone app or even a phone or browser game we've got you covered.</p></p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="~/Content/Images/People.png"></div>
    </div>