
@{
    ViewData["Title"] = "MobilePreviews";
}
    <div>
        <ul class="collection with-header">
            <div style="margin-top:12px; margin-right:8px">
                <a href="~/" class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">arrow_back</i></a>
            </div>

            <li class="collection-header"><h5>Gaming</h5></li>
            <li class="collection-item"><div>Template 1<a href="~/Templates/Gaming/Template1/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 2<a href="~/Templates/Gaming/Template2/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 3<a href="~/Templates/Gaming/Template3/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 4<a href="~/Templates/Gaming/Template4/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 5<a href="~/Templates/Gaming/Template5/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 6<a href="~/Templates/Gaming/Template6/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>

            <li class="collection-header"><h5>Landing Pages</h5></li>
            <li class="collection-item"><div>Template 1<a href="~/Templates/AppLandingPage/Template1/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 2<a href="~/Templates/AppLandingPage/Template2/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 3<a href="~/Templates/AppLandingPage/Template3/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 4<a href="~/Templates/AppLandingPage/Template4/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 5<a href="~/Templates/AppLandingPage/Template5/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 6<a href="~/Templates/AppLandingPage/Template6/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>

            <li class="collection-header"><h5>Finance</h5></li>
            <li class="collection-item"><div>Template 1<a href="~/Templates/Finance/Template1/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 2<a href="~/Templates/Finance/Template2/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 3<a href="~/Templates/Finance/Template3/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 4<a href="~/Templates/Finance/Template4/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 5<a href="~/Templates/Finance/Template5/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 6<a href="~/Templates/Finance/Template6/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>

            <li class="collection-header"><h5>Blogs</h5></li>
            <li class="collection-item"><div>Template 1<a href="~/Templates/Blogs/Template1/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 2<a href="~/Templates/Blogs/Template2/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 3<a href="~/Templates/Blogs/Template3/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 4<a href="~/Templates/Blogs/Template4/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 5<a href="~/Templates/Blogs/Template5/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 6<a href="~/Templates/Blogs/Template6/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>

            <li class="collection-header"><h5>Portfolio/CV</h5></li>
            <li class="collection-item"><div>Template 1<a href="~/Templates/Portfolio/Template1/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 2<a href="~/Templates/Portfolio/Template2/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 3<a href="~/Templates/Portfolio/Template3/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 4<a href="~/Templates/Portfolio/Template4/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 5<a href="~/Templates/Portfolio/Template5/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 6<a href="~/Templates/Portfolio/Template6/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>

            <li class="collection-header"><h5>Business</h5></li>
            <li class="collection-item"><div>Template 1<a href="~/Templates/Business/Template1/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 2<a href="~/Templates/Business/Template2/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 3<a href="~/Templates/Business/Template3/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 4<a href="~/Templates/Business/Template4/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 5<a href="~/Templates/Business/Template5/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
            <li class="collection-item"><div>Template 6<a href="~/Templates/Business/Template6/index.html" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        </ul>

    </div>

