    <div class="parallax-container">
        <div class="Services-Header shadow">
            <h2 style="color:white">Our Services</h2>
            <h3 style="color:white">What can we do for you?</h3>
        </div>
        <div class="parallax"><img src="~/Content/Images/services.png"></div>
    </div>

    <div class="section white contact-section">
        <div class="col s12 subtitle">
            <h4 style="text-align:center">We're here to help drive you into the future</h4>
            <hr style="width:25%" />
        </div>

        <div class="row container">
            <div class="col s12" style="text-align:center">
                <h3 class="title4 Headers">Web Design</h3>
                <div class="animated fadeInRight">
                    <p>Here at Plinx we have a real passion for web design and whether it be a full bespoke multi-page site or just a simple, single page template we can help.</p>
                    <p>We can offer very competitive rates on bespoke solutions and our templates look great and won't break the bank. Whatever you're looking for, we're sure you'll be happy with our work.</p>
                </div>
            </div>
            <div class="col offset-s3 s6  ">
                <img class="Services-Images-center mobilePic  revealOnScroll" data-animation="fadeInLeft" src="~/Content/Images/OurServices/Code.png" />
                <hr class="revealOnScroll" data-animation="fadeInRight" />
            </div>


            <div class="col s12 l6">
                <h3 class="title3 Headers">e-commerce</h3>
                <div class="revealOnScroll" data-animation="fadeInLeft">
                    <p>Need help getting your shop online or looking for an online business in a box? Look no further!</p>
                    <p>We can provide you with a flexable, customiseable and slick eccomerce site. We'll do all the hard work so you can concentrate on what you do best....Selling!</p>
                </div>
                <hr class="revealOnScroll" data-animation="fadeInRight" />
            </div>
            <div class="col s12 l6">
                <img class="Services-Images mobilePic  revealOnScroll" data-animation="fadeInRight" src="~/Content/Images/OurServices/Ecommerce.png" />
            </div>


            <div class="col s12 l6">
                <img class="Services-Images mobilePic  revealOnScroll" data-animation="fadeInLeft" src="~/Content/Images/OurServices/Apps.png" />
            </div>
            <div class="col s12 l6">
                <h3 class="title2 Headers">App Design</h3>
                <div class="revealOnScroll" data-animation="fadeInRight">
                    <p>Maybe you're looking for a companion app for your website or have a great idea for an app but no idea how to bring it to fruitition. </p>
                    <p>We can help! We have many years experience creating web and phone apps for iOS, Android and Windows devices. Any questions drop us a line <a href="Contact"> here</a>.</p>
                </div><hr class="revealOnScroll" data-animation="fadeInRight" />
            </div>

            <div class="col s12" style="text-align:center">
                <h3 class="title5 Headers">Logo Design & Browser Games</h3>
                <div class="revealOnScroll" data-animation="fadeInRight">
                    <p>Here at Plinx we have experience in many design and digital fields. Whether you are looking for a smart, elegant logo design or even a video game to add to your website, we have the experience to help.</p>
                    <p>With over 20 years experience in the gaming industry as well as numerous award nominations, we have the experience to create a great browsers or even phone game. </p>
                </div>
            </div>
            <div class="col s6">
                <img class="Services-Images-center mobilePic  revealOnScroll" data-animation="fadeInLeft" src="~/Content/Images/OurServices/LogoDesign.png" />
                <hr class="revealOnScroll" data-animation="fadeInRight" />
            </div>
            <div class="col s6">
                <img class="Services-Images-center mobilePic  revealOnScroll" data-animation="fadeInRight" src="~/Content/Images/OurServices/Games.png" />
                <hr class="revealOnScroll" data-animation="fadeInRight" />
            </div>
        </div>
        <p style="text-align:center">If you there is something that you are looking for that you can't see on this page, why not contact us <a href="contact">here</a>, I'm sure we'll be able to help.</p>
        <br />
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="~/Content/Images/services.png"></div>
    </div>


