<div class="parallax-container">
    <div class="Services-Header shadow">
        <h2 style="color:white">Privacy Policy</h2>
     
    </div>
    <div class="parallax"><img src="~/Content/Images/chain.jpg"></div>
</div>
<div class="row container">
    This is where the privacy policy will go.
</div>

<div class="parallax-container">
    <div class="parallax"><img src="~/Content/Images/chain.jpg"></div>
</div>
