@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    <div class="parallax-container">
        <div class="Services-Header shadow">
            <h2 style="color:white">@ViewData["Title"]</h2>
        </div>
        <div class="parallax"><img src="~/Content/Images/login/stairs.jpg"></div>
    </div>
    <div class="container">
        <div class="row">
            <br />
            <br />
            <br />
            <p>
                Please check your email to reset your password.
            </p>
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="~/Content/Images/login/stairs.jpg"></div>
    </div>
}

