@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}
@{ Layout = "~/Views/Shared/_Layout.cshtml";

    <div class="parallax-container">
        <div class="Services-Header shadow">
            <h2 style="color:white">@ViewData["Title"]</h2>
        </div>
        <div class="parallax"><img src="~/Content/Images/login/stairs.jpg"></div>
    </div>
    <div class="containter">
        <div class="row">
            <br />
            <br />
            <br />
            <header>
                <h1 class="text-danger">@ViewData["Title"]</h1>
                <p class="text-danger">This account has been locked out, please try again later.</p>
            </header>
            <br />
            <br />
            <br />
            <div class="parallax-container">
                <div class="parallax"><img src="~/Content/Images/login/stairs.jpg"></div>
            </div>
        </div>
    </div>
}
