@model PlinxHub.API.Dtos.OrderWithFilters;
<span style="font-size:22px;cursor:pointer" onclick="openNav()"><i style="vertical-align: sub" class="material-icons">filter_list</i> Filters</span>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="container">
        <div class="row filter-text">
            <label>Order no.</label><input class="form-control" asp-for="Filters.OrderNumber" />
            <label>Company Name</label><input class="form-control" asp-for="Filters.CompanyName" />
            <label>Name</label> <input class="form-control" asp-for="Filters.Name" />
            <label>Email</label><input class="form-control" asp-for="Filters.EmailAddress" />
            <label>Template</label><input class="form-control" asp-for="Filters.TemplateNumber" />
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</div>
