<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <img src="~/Content/Images/PlinxLogo.png" class="footer-logo" /> <br />
                <p class="grey-text text-lighten-4">Looking for a quote or just want to ask us a question? Email us direct <a href="mailto:info@plinx-tech.co.uk" class="footer-link">info@plinx-tech.co.uk</a></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Take a look around</h5>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home", new { @class = "footer-link" })</li>
                    <li>@Html.ActionLink("About Us", "About", "Home", new { @class = "footer-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { @class = "footer-link" })</li>
                    <li>@Html.ActionLink("Our Services", "OurServices", "Home", new { @class = "footer-link" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Plinx-Tech

        </div>
    </div>
</footer>