@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="parallax-container">
        <div class="Services-Header shadow">
            <h2 style="color:white">Manage your account</h2>
            <h3 style="color:white">Change your account settings</h3>
        </div>
        <div class="parallax"><img src="~/Content/Images/login/stairs.jpg"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col m3">
                <partial name="_ManageNav" />
            </div>
            <div class="col m9">
                @RenderBody()
            </div>
            
        </div>
    </div>
        <div class="parallax-container">
            <div class="parallax"><img src="~/Content/Images/login/stairs.jpg"></div>
        </div>
   
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
